html {
  background-color: #131415;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	font-size: 120%;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: #F1BA2F;
}

a:visited {
	text-decoration: none;
	color: #F1BA2F;
}

sub {
	font-size : 14px;
	color: #919191;
}

.img-inline {
	margin-bottom: 0.25rem;
	width: 100%;
	height: auto;
}

.highlight {
	background-color: #F1BA2F;
	color: #131415!important;
	border-radius: 5px;
}

.text-name {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	
}

.text-role {
	font-family: 'Oxygen Mono', monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #919191;
}

.card {
	background: #2C2C2B;
	border-radius: 11px;
	padding: 13px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	margin-bottom: 24px;

}

.card-icon {
	width: 58px;
	height: 58px;
	background: #333333;
	border-radius: 7px;
	color: #F1BA2F;
}

.icon {
	width: 31px;
	height: 31px;
	padding: 13px;
}

.icon-sm {
	width: 18px;
	color: white;
}

.icon-margin {
	margin-right: 14px;
}

.card-text {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 19px;
	padding-right: 19px;
}

.card-title {
	font-size: 14px;
	line-height: 22px;
	color: #fff;
}

.card-body {
	font-size: 12px;
	line-height: 20px;
	color: #949494;
}

.center {
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
	.vertical-center {
		margin: 0;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.social-links {
		margin-top: 44px;
	}
	
}

@media (max-width: 767px) {
	.vertical-center {
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	.social-links {
		margin-top: 22px!important;
	}
}

@media (max-width: 370px) {
	.hide-xs {
		display: none;
	}
}